  
     <form class="row form-inline pesquisa col-10">
        <div class="col-12 col-md-5 col-lg-8  col-sm-8 campo  ">
          <input type="text" class="form-control  " id="pesquisar" placeholder="Digite a placa do veiculo" name="pesquisar">
        </div>
        <div class="col-12 col-md-4 col-lg-3  col-sm-3 botao ">
         <button type="submit" class="btn btn-primary" >Pesquisar</button>  
        </div>
      </form>
    <div class="row" >
    <table class="table col-10 border">
        
        <thead>
          <tr >
           <th scope="col">Placa</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Cor</th>
           
          </tr>
        </thead>
        
        <tbody>
           <tr   *ngFor="let veiculo of veiculos ">
            <th scope="row">{{veiculo.placa}}</th>
            <td>{{veiculo.marca}}</td>
            <td>{{veiculo.modelo}}</td>
            <td>{{veiculo.cor}}</td>
          </tr>  
        </tbody>
      </table> 
 
    </div>
 
