    <div class="row ">
      <form  novalidate class="col-8 formulario " >
        <div class="row">
        <h3>Dados Pessoais</h3>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="cpf">CPF/CNPJ</label>
            <input type="text" class="form-control" id="cpf" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="email">E-Mail</label>
              <input type="text" class="form-control" id="email" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="nascimento">Data de Nascimento</label>
              <input type="text" class="form-control" id="nascimento" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="celular">Telefone Celular</label>
              <input type="text" class="form-control" id="celular" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="sexo">Sexo</label>
              <select class="form-control">
                  <option selected>Selecione uma opção</option>
                  <option>Masculino</option>
                  <option>Feminino</option>
              </select>
              </div>
            </div>
            <div class="row">
                <h3>Endereço</h3>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cep">CEP</label>
                  <input type="text" class="form-control" id="cep" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-7 mb-3">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="complemento">Complemento</label>
                  <input type="text" class="form-control" id="complemento" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="numero">numero</label>
                    <input type="text" class="form-control" id="numero" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-md-5 mb-3">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="" value="" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
            </div>
            <div class="row">
                <h3>Veículos</h3>
                <div class="botaoDireita">
                <button class="btn btn-primary btn-sm ">Cadastrar Veiculo</button>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Placa</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Tamanho</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>AAA</td>
                        <td>FIAT</td>
                        <td>Palio</td>
                        <td>Branco</td>
                        <td>Pequeno</td>
                      </tr>
                      <tr>
                        <td>BBB</td>
                        <td>FIAT</td>
                        <td>Palio</td>
                        <td>Branco</td>
                        <td>Pequeno</td>
                      </tr>
                      <tr>
                        <td>AAA</td>
                        <td>FIAT</td>
                        <td>Palio</td>
                        <td>Branco</td>
                        <td>Pequeno</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="row">
                <div class="col-1">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>  
                <div class="col-3">
                <button class="btn btn-success">Salvar e Novo</button>
            </div>
            </div>

      </form>
    </div>