    <div class="row ">
      <div  novalidate class="col-10 border formulario  " >
        <div class="row">
        <h3 class="col-12">Dados Pessoais</h3>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)] = "cliente.nome" name="nome" placeholder="Digite seu nome:."  >
          </div>
          <div class="col-md-5 mb-3">
            <label for="cpf">CPF/CNPJ</label>
            <input type="text" class="form-control" id="cpf" onkeypress="$(this).mask('000.000.000-00');" [(ngModel)] = "cliente.cpfCnpj" (change) = "VerificarCPF(cliente.cpfCnpj)" name="cpfCnpj" placeholder="Digite o CPF /CNPJ:." >
          </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
              <label for="email">E-Mail</label>
              <input type="text" class="form-control" id="email" [(ngModel)] = "cliente.email" name="email" placeholder="Digite seu Email:." >
            </div>
            <div class="col-md-5 mb-3">
              <label for="nascimento">Data de Nascimento</label>
              <input type="text" class="form-control" id="nascimento"  onkeypress="$(this).mask('00-00-0000');"  [(ngModel)] = "cliente.dataNascimento" name="dataNascimento" placeholder="Digite sua data de Nascimento" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 mb-1">
              <label for="ddd">DDD</label>
              <input type="text" class="form-control" id="celular" [(ngModel)] = "cliente.ddd" name="ddd" placeholder=""  size="3">
            </div>
            <div class="col-md-4 mb-3">
              <label for="celular">Telefone Celular</label>
              <input type="text" class="form-control" id="celular" [(ngModel)] = "cliente.telefone" name="telefone" placeholder="" >
            </div>
            <div class="col-md-5 mb-3">
              <label for="sexo">Sexo</label>
              <select class="form-control" [(ngModel)] = "cliente.sexo" name="sexo">
                  <option selected>Selecione uma opção</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
              </select>
              </div>
            </div>
            <div class="row">
                <h3 class="col-12">Endereço</h3>  
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="cep">CEP</label>
                  <input type="text" class="form-control" id="cep" [(ngModel)] = "cliente.cep" name="cep" (change) = "procurarCEP()" >
                </div>
                <div class="col-md-5 mb-3">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" [(ngModel)] = "cliente.endereco" name="endereco">
                  </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="complemento">Complemento</label>
                  <input type="text" class="form-control" id="complemento" [(ngModel)] = "cliente.complemento" name="complemento">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="numero">numero</label>
                    <input type="text" class="form-control" id="numero" [(ngModel)] = "cliente.numero" name="numero" >
                  </div>
                  <div class="col-md-5 mb-3">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control" id="bairro" [(ngModel)] = "cliente.bairro" name="bairro">
                  </div>
            </div>
            <div class="row botaoDireita">
              <h3  class="col-md-6 col-lg-7  col-sm-7">Veículos</h3>
              <button class="btn btn-primary btn-sm col-sm-4  btn-veiculo   " data-toggle="modal" data-target="#exampleModal" (click) = "limparCampoVeiculo()">Cadastrar Veiculo</button>  
            </div>
                      <div class="row" >
                        <div class="veiculo_vazio col-12" *ngIf="veiculos.length==0">
                            Nenhum Veiculo cadastrado para esse usuario
                          </div>
                        <div class="card col-md-10 col-lg-10  col-sm-10 " *ngFor="let v of veiculos">
                          <div class="card-header"><label>Placa.: {{v.placa}}</label></div>
                          <div class="card-body ">
                                <label > Marca.: {{v.marca}}</label>
                                <label>Modelo.: {{v.modelo}}</label>
                                <label>Cor.: {{v.cor}}</label>
                                <label>Tamanho.: {{v.tamanho}}</label>
                          </div>
                        </div>
                      </div>
            <div class="row" style="margin-bottom: 10px; margin-left: 10px;">
                <div class="col-md-3 col-lg-3  col-sm-12">
              <button class="btn btn-primary" (click) = "createCliente()" >Salvar</button> 
            </div>  
                <div class="col-md-3 col-lg-3  col-sm-12">
                <button class="btn btn-success" (click) = "atualizarELimparCampos()">Salvar e Novo</button>
                </div>
            </div>
            </div>
          </div>
 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cadastramento de Veiculo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
      <div class="modal-body">
        <div class="form-group">
          <label for="placa">Placa.:</label>
          <input type="text" class="form-control" required id="placa" name="placa" [(ngModel)] = "veiculo.placa">
        </div>
        <div class="form-group">
          <label for="marca">Marca.:</label>
          <input type="text" class="form-control"  required id="marca" name="marca" [(ngModel)] = "veiculo.marca">
        </div>
        <div class="form-group">
          <label for="modelo">Modelo.:</label>
          <input type="text" class="form-control" required id="modelo" name="modelo" [(ngModel)] = "veiculo.modelo">
        </div>
        <div class="form-group">
          <label for="cor">Cor.:</label>
          <input type="text" class="form-control" required id="cor" name="cor" [(ngModel)] = "veiculo.cor">
        </div>
        <div class="form-group">
          <label for="tamanho">Tamanho.:</label>
          <select required [(ngModel)] = veiculo.tamanho>
              <option value="PEQUENO">Pequeno</option>
              <option value="MEDIO">Medio</option>
              <option value="GRANDE">Grande</option>
          </select>
      </div>
      <div class="modal-footer row">
        <button type="button" class="btn btn-primary col-md-4"  (click) = "adicionarVeiculos()"  data-dismiss="modal">Salvar</button>
        <button type="button" class="btn btn-secondary col-md-4" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>