.formulario{
    margin-left: 3%;
    font-size: 15px;
}
.formulario h3{
    background-color: #bfbfbf;
   
}
.botaoDireita {
    background-color: #bfbfbf;
    margin: 0;
   
} 
.botaoDireita h3{
    margin: 0;
    padding: 5px;
}
.card{
    margin: 5px auto
}
.card-header{
    text-align: center;
    background-color: #ff0000;
}
.card-body label{
    display: block;
    text-align: center;

}

.veiculo_vazio{
    color: #DDD6D6;
    text-align: center;
    margin-bottom: 10px;
}


