.formulario{
    margin-left: 3%;
    font-size: 15px;
}
.formulario h3{
    background-color: #bfbfbf;
   
}
.botaoDireita {
    background-color: #bfbfbf;
    margin: 0;
   
} 
.botaoDireita h3{
    margin: 0;
    padding: 5px;
}


