.formulario{
    margin: 10px 10px;
}
.campo{
    width: 100%;
}
.botao{
    width: 100%;
}
@media (max-width: 575.98px) { 
    .botao{
        margin-top: 5px;
    }
}

.card{
    margin: 10px 10px;
}

.card-footer a{
    margin-left: 5px;
}