
.navegacao{
    width: 100%;
    animation: animateleft 0.4s;
    z-index: 1;
    background-color: #001b50;
}
h3{
    background-color: #262626;
    color: #a7a7a7;
}

.titulo1 a{
    
    color: #c8d7e7;
    margin-bottom: 5px;
    font-size: 15px;
    display: block;
    padding: 10px 5px;
    margin-left: 5px;
    
}
.titulo2 li a{
    margin-left: 15px;
    display: hidden;
    color:#fff;
    text-decoration: dashed;
}
.barra{
    background-color: #001b50;
    position: absolute;
}
.fechar h3{
    color: #a7a7a7;
    background-color: #001b50;
    width: 100%;
}
.fechar h3:hover{
    color: #262626;
    background-color:#0000ff ;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .fechar h3{
        color: #a7a7a7;
        background-color: #001b50;
        width: 100%;
    }
    .fechar:hover{
        color: #262626;
        background-color:#0000ff ;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .fechar:hover{
        color: #262626;
        background-color:#0000ff ;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .fechar:hover{
        color: #262626;
        background-color:#0000ff ;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .fechar:hover{
        color: #262626;
        background-color:#0000ff ;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .fechar h3:hover{
        color: #262626;
        background-color:#0000ff ;
    }
}