<div class="row">
  <div class="col navegacao">
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>BARRA DE NAVEGAÇÃO</h3>
      </div>
      <ul class="list-unstyled components">
        <li  class="titulo1"><!--Menu Funcionamento diário-->
          <a href="#funcionamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Funcionamento diário</a>
          <ul class="collapse list-unstyled titulo2" id="funcionamento">
            <li>
              <a href="#">Adicionar serviços</a>
            </li>
            <li>
              <a href="#">Fila de espera</a>
            </li>
            <li>
              <a href="#">Histórico de serviços</a>
            </li>
          </ul> 
        </li><!--Fim menu funcionamento diario-->

        <li  class="titulo1"><!--Menu Cliente-->
          <a href="#cliente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Clientes</a>
          <ul class="collapse list-unstyled titulo2" id="cliente" >
            <li>
              <a [routerLink]="['/cadastro']">Cadastrar</a>
            </li>
            <li>
              <a [routerLink]="['/listar']">Alterar | Consultar</a>
            </li>
          </ul> 
        </li><!--Fim menu Cliente-->

        <li class="titulo1" ><!--Menu Veiculo-->
          <a href="#veiculo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Veículos</a>
          <ul class="collapse list-unstyled titulo2" id="veiculo" >
            <li>
              <a href="#">Cadastrar</a>
            </li>
            <li>
              <a href="#">Alterar | Consultar</a>
            </li>
          </ul> 
        </li><!--Fim menu Veículo-->

        <li  class="titulo1"><!--Menu Serviços-->
          <a href="#servicos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Serviços</a>
          <ul class="collapse list-unstyled titulo2" id="servicos" >
            <li>
              <a href="#">Cadastrar</a>
            </li>
            <li>
              <a href="#">Alterar | Consultar</a>
            </li>
          </ul> 
        </li><!--Fim menu Serviços-->

        <li  class="titulo1"><!--Menu Almoxarificado-->
          <a href="#almoxarifado" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Almoxarifado</a>
          <ul class="collapse list-unstyled titulo2" id="almoxarifado" >
            <li>
              <a href="#">Cadastrar produto</a>
            </li>
            <li>
              <a href="#">Alterar produto</a>
            </li>
            <li>
              <a href="#">Consultar estoque</a>
            </li>
          </ul> 
        </li><!--Fim menu Almoxarifado-->

        <li class="titulo1" ><!--Menu Financeiro-->
          <a href="#financeiro" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Financeiro</a>
          <ul class="collapse list-unstyled titulo2" id="financeiro" >
            <li>
              <a href="#">Registrar custos</a>
            </li>
            <li>
              <a href="#">Registar receitas</a>
            </li>
            <li>
              <a href="#">Gestão de pagamentos</a>
            </li>
            <li>
              <a href="#">Análise financeira</a>
            </li>
          </ul> 
        </li><!--Fim menu Serviços-->
        <li class="titulo1" ><!--Menu Financeiro-->
          <a href="#marketing" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">Marketing</a>
          <ul class="collapse list-unstyled titulo2" id="marketing" >
            <li>
              <a href="#">Cartão fidelidade</a>
            </li>
            <li>
              <a href="#">Promoções</a>
            </li>
          </ul> 
        </li><!--Fim menu Serviços-->
      </ul>
    </nav>
    </div>
</div> 
</div>  
